

@media (min-width: 970px){
	.container {
		width: 90%;
		margin: 0 auto;
	}
}
//======================================================================
//
//
//===============================HEADER===========================================
@media (min-width: 320px) and (max-width: 860px) {
	.nav {
		display: none;
		li a {
			border-top: 1px solid #eee;
			background: $primary_font_color;
			color: $primary_font_color;

			&:hover {
				background: #f0f0f0;
				color: $secondary_font_color;
				border-left: 3px solid $primary_font_color;
			}
		}
	}
	.nav li:first-child a {border-top: none;}
	#touch-menu {
		display: flex;
		justify-content: flex-end;
		margin-top: 20px;
		text-decoration: none;

		.fa-bars {font-size: 22px;}
	}
}
//======================================================================
//
//
//=================================HERO==============================
@media (min-width: 1250px) {
	.hero {
		h2, p {
			text-align: left;
			margin: 0;
		}
		.hero-btn {
			float: right;
			margin-right: 100px;
		}
	}
}
//======================================================================
//
//
//==============================ABOUT US================================
@media (min-width: 1160px) {
	.about-us {
		.flexbox {
			justify-content: space-between;
			width: 1160px;
			margin: 0 auto;
		}
	}
}